.checkout {
  padding: 16px;

  button {
    height: 3rem;
    background: $primary-orange;
    display: block;
    margin: auto;
    width: 50%;
    transition: all 300ms ease-in;
    font-size: 20px;
    margin-bottom: 1rem;
    &:hover {
      opacity: 80%;
      // background: $gray-light;
    }
  }
}

.total {
  margin-top: 30px;
  text-align: center;
  color: $black;
  font-size: 30px;
  font-weight: bold;
}


.empty-cart {
  text-align: center;
  img {
    width: 100%;
    max-width: 500px;
    margin: 42px auto 16px auto;
  }
  h2 {
    color: $gray-light;
    font-size: 30px;
  }
  button {
    opacity: 60%;
    margin-top: 20px;
  }
}